clientes_api_wcf/clientes_api_wcf/clientes_wfc/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/adventureworks2019_wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/adventureworks2019_wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfstpr_DepartmentList_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stpr_DepartmentList_Result" nillable="true" type="tns:stpr_DepartmentList_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstpr_DepartmentList_Result" nillable="true" type="tns:ArrayOfstpr_DepartmentList_Result" />
  <xs:complexType name="stpr_DepartmentList_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentID" type="xs:short" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="stpr_DepartmentList_Result" nillable="true" type="tns:stpr_DepartmentList_Result" />
  <xs:complexType name="stpr_DepartmentSave_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="stpr_DepartmentSave_Result" nillable="true" type="tns:stpr_DepartmentSave_Result" />
  <xs:complexType name="ArrayOfstpr_CreditCardList_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stpr_CreditCardList_Result" nillable="true" type="tns:stpr_CreditCardList_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstpr_CreditCardList_Result" nillable="true" type="tns:ArrayOfstpr_CreditCardList_Result" />
  <xs:complexType name="stpr_CreditCardList_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CardType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditCardID" type="xs:int" />
      <xs:element minOccurs="0" name="ExpMonth" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="ExpYear" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="stpr_CreditCardList_Result" nillable="true" type="tns:stpr_CreditCardList_Result" />
  <xs:complexType name="stpr_CreditCardSave_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="stpr_CreditCardSave_Result" nillable="true" type="tns:stpr_CreditCardSave_Result" />
  <xs:complexType name="ArrayOfstpr_ProductCategoryList_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stpr_ProductCategoryList_Result" nillable="true" type="tns:stpr_ProductCategoryList_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstpr_ProductCategoryList_Result" nillable="true" type="tns:ArrayOfstpr_ProductCategoryList_Result" />
  <xs:complexType name="stpr_ProductCategoryList_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductCategoryID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="stpr_ProductCategoryList_Result" nillable="true" type="tns:stpr_ProductCategoryList_Result" />
  <xs:complexType name="stpr_ProductCategorySave_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="stpr_ProductCategorySave_Result" nillable="true" type="tns:stpr_ProductCategorySave_Result" />
</xs:schema>