Evaluación Práctica II Corte/clientes_api_wcf/clientes_api_wcf/clientes_wfc/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8086/adventureworks2019_wcf/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/adventureworks2019_wcf" />
  <xs:element name="DepartmentLista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/adventureworks2019_wcf" minOccurs="0" name="DepartmentListaResult" nillable="true" type="q1:ArrayOfstpr_DepartmentList_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/adventureworks2019_wcf" minOccurs="0" name="DepartmentDatosResult" nillable="true" type="q2:stpr_DepartmentList_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DepartmentSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/adventureworks2019_wcf" minOccurs="0" name="DepartmentSaveResult" nillable="true" type="q3:stpr_DepartmentSave_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreditCardLista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreditCardListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/adventureworks2019_wcf" minOccurs="0" name="CreditCardListaResult" nillable="true" type="q4:ArrayOfstpr_CreditCardList_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreditCardDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creditCardId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreditCardDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/adventureworks2019_wcf" minOccurs="0" name="CreditCardDatosResult" nillable="true" type="q5:stpr_CreditCardList_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreditCardSave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreditCardId" type="xs:int" />
        <xs:element minOccurs="0" name="CardType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CardNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ExpMonth" type="xs:int" />
        <xs:element minOccurs="0" name="ExpYear" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreditCardSaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/adventureworks2019_wcf" minOccurs="0" name="CreditCardSaveResult" nillable="true" type="q6:stpr_CreditCardSave_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductCategoryLista">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductCategoryListaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/adventureworks2019_wcf" minOccurs="0" name="ProductCategoryListaResult" nillable="true" type="q7:ArrayOfstpr_ProductCategoryList_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductCategoryDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductCategoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductCategoryDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/adventureworks2019_wcf" minOccurs="0" name="ProductCategoryDatosResult" nillable="true" type="q8:stpr_ProductCategoryList_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductCategorySave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductCategoryId" type="xs:int" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductCategorySaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/adventureworks2019_wcf" minOccurs="0" name="ProductCategorySaveResult" nillable="true" type="q9:stpr_ProductCategorySave_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>